@use '../../styles/abstract/' as a;
.buttonPrimary {
  height: 3.5rem;
  width: 100%;
  background-color: a.$primary-color;
  color: white;
  border-radius: 5px;
  margin-top: 2rem;
  margin-left: auto;
  @include a.for-desktops {
    width: 16rem;
  }
  svg {
    margin-right: 1rem;
    width: 24px;
    height: 24px;
  }
}
.disabled {
  opacity: 0.4;
  pointer-events: none;
}
.buttonSecondary {
  width: 40px;
  height: 40px;
  color: a.$white;
  border-radius: 50%;
  background-color: a.$secondary-color;
  svg {
    width: 24px;
    height: 24px;
  }
}
.buttonTertiary {
  width: 40px;
  height: 40px;
  color: a.$inactive-color;
  border-radius: 5px;
  background-color: a.$white;
  svg {
    width: 24px;
    height: 24px;
  }
}
.buttonFourth {
  width: 100%;
  padding: 1em 0;
  color: a.$secondary-color;
  background-color: a.$white;
  opacity: 0.8;
  border-radius: 5px;
  margin: 10px 0;
  @media (hover: hover) {
    &:hover {
      opacity: 1;
    }
  }
}
