@use '../../styles/abstract/' as a;
.navbar {
  grid-row: 1/2;
  grid-column: 1/-1;
  min-height: a.$navbar-height;
  padding: 0;
  display: flex;
  align-items: center;
  @include a.for-desktops {
    padding: 0 1rem;
  }
  .logo {
    width: max-content;
    color: a.$primary-color;
  }
  .navbarOptions {
    display: flex;
    margin-left: auto;
    align-items: center;
    .option {
      margin: 0 15px;
      color: a.$primary-color;
    }
  }
}
