@use '../styles/abstract/' as a;
.pageContainer {
  min-height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  background: url("/background.svg") no-repeat;
  background-size: 150%;
  background-position: center 20%;
  padding: 0 0.8rem;
  padding-bottom: 8rem;
  @include a.for-desktops {
    background-size: contain;
    background-position: center center;
  }
}
.textContainer {
  grid-column: 1/-1;
  grid-row: 2/5;
  @include a.for-desktops {
    grid-column: 3/8;
    grid-row: 3/8;
  }
  .title {
    color: a.$primary-color;
    padding: 0.2em 0;
    font-size: 2rem;
    @include a.for-desktops {
      line-height: 5rem;
      font-size: 4rem;
    }
  }
  .paragraph {
    color: a.$primary-color;
    @include a.for-desktops {
      font-size: 1.2rem;
    }
  }
}
.form {
  grid-column: 1/-1;
  grid-row: 5/8;
  @include a.for-desktops {
    grid-column: 3/7;
    grid-row: 8/10;
    max-width: 30rem;
  }
  .fieldContainer {
    position: relative;

    button {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      z-index: 99;
    }
  }
}
.howItWorks {
  grid-column: 1/-1;
  grid-row: 9/13;
  @include a.for-desktops {
    grid-column: 9/12;
    grid-row: 7/12;
  }
  .secondaryTitle {
    color: a.$primary-color;
    letter-spacing: 0.1rem;
    font-size: 2rem;
    @include a.for-desktops {
      font-size: 2.5rem;
    }
  }
  .list {
    .container {
      display: flex;
      align-items: center;
      margin: 20px 0;
      span {
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        background-color: a.$inactive-color;
        border-radius: 50%;
        color: a.$white;
        text-align: center;
        margin-right: 10px;
        flex-shrink: 0;
        @include a.for-desktops {
          width: 40px;
          height: 40px;
          line-height: 40px;
          font-size: 1.2rem;
          margin-right: 20px;
        }
      }
      p {
        opacity: 0.4;
      }
    }
  }
}
